{% extends 'base.html' %}
{% block title %}
List by catagory
{% endblock %}

    {% block home %}
    <li><a class="" href="{% url 'home' %}">Home</a></li>
    {% endblock %}

{% block content %}
{% load static %}
<br>
<form method="get" action="">
    <p style="text-align:center"><input type="text" name="q" value="{{ request.get.q }}" placeholder="Search Cv" ><input type="submit" value="Search"></p>
</form>

<br>
<div class="list-group" style="width:500px; margin:0 auto;">
  <a style="color:white; text-align:center" class="list-group-item list-group-item-action active">
    {{catagory.name}}
  </a> <br>
    {% for cvs in cv %}

    <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h4>My skill:  {{ cvs.skill }}</h4>
          <p class="card-text"><a href="{{ cvs.file.url }}"> Click here for download CV or Resume </a></p>
        <p class="card-text"> To watch my profile! Click <a href="{% url 'show_profile' pk=cvs.user.pk %}">{{ cvs.user }} </a> </p>
        <p class="card-text"><small class="text-muted">published: {{ cvs.publish_date }}</small></p>
      </div>
    </div>
      </div>
    </div>
    {% endfor %}
<br><br><br>

{% endblock %}
