ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: red;}

ul.topnav li a.active {background-color: #4CAF50;}
li.active {background-color: #4CAF50;}
.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}
.mySlides{
  width: 100%;
}

.cv{
  top: 75%;
   left: 40%;
  position: absolute;
  text-align: center;
}

.carousel-inner img {
            width: 100%;
            height: 380px;
        }
.team {

  top: 100%;
  left: 30%;
  position: absolute;
}


.im2{
  border-radius: 50%;
  top: 78%;
  left: 50%;
  position: absolute;
}

line-height:3em;
overflow:scroll;
padding:5px;
background-color:white;
color:green ;}

.boxed1 {
  border: 1px solid green;
  left: 10%;
  top: 100%;
  width: 300px;
  height: 150px;
  padding:50px;
}
.w3-lobster {
  font-family: "Lobster", serif;
}
