<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'social.css' %}">
	<title> {% block title %} Welcome to SWE family {% endblock %}</title>
    <!-- show profile -->

    <!-- w3school font for  sont style -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, address, phone, icons" />

    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- footer -->
    <link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}">

 <!--<meta http-equiv="refresh" content="0;url=comingsoon/ind.html"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap.css'%}">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <!--  normalizer css-->
    <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
    <style>
        .col-centered {
            float: none;
            margin: 0 auto;
        }
    </style>

</head>
<body>
	<div class="top-bar fixed">
        <ul class="topnav">
                    {% block home %}
                    <li><a class="" href="{% url 'home' %}">Home</a></li>
                    {% endblock %}
            {% if user.is_authenticated %}
            {% block cv %}
            <li><a class="" href="{% url 'add_cv' %}">Upload your CV</a></li>
            {% endblock %}
            {% block job %}
            <li><a class="" href="{% url 'add_job' %}">Add Job Offer</a></li>
            {% endblock %}
            {% block profile %}
            <li><a class="" href="{% url 'show_profile' pk=user.pk %}">Profile</a></li>
            {% endblock %}
            {% endif %}
                <div class ="right">
                    <li><a href="#contact"><i class=""></i>Contact</a></li>

                    {% if user.is_authenticated %}
                    <li class="" ><a href="javascript:{document.getElementById('logout').submit()}"><i class=""></i> Logout</a></li>
                    <form id="logout" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                    {% else %}
                    {% block registration %}
                    <li class="" ><a href="{% url 'registration' %}"><i class=""></i> Registration</a></li>
                    {% endblock %}
                    {% block login %}
                    <li class="" ><a href="{% url 'login' %}"><i class=""></i> Login</a></li>
                    {% endblock %}
                    {% endif %}
                </div>

        </ul>
	</div>

    {% block content %}
    {% endblock %}



<!-- footer -->
    <div class="footer">
<div class="bo-wrap clr4">
  <div class="bo-footer">
    <div class="bo-footer-social">
    </div>
  </div>
</div>
<div class="bo-wrap clr3">
  <div class="bo-footer">
    <div class="bo-footer-smap">
        <a href="{% url 'home' %}">Home</a> | <a href="">Policy</a> | <a href="">Contact Us</a>
	  </div>
	  <div class="bo-footer-uonline">
          <p style="color:white"> Updating... </p>
	  </div>
	  <div class="bo-footer-power">
      Powered By JK - <a href="http://www.jobaerulkaes.com/">Web &amp Apps Developer</a>
	  </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="bo-wrap clr4">
  <div class="bo-footer">
    <div class="bo-footer-copyright">&copy;2019 SWE department All rights reserved.</div>
  </div>
</div>
    </div>
<br>
</body>
</html>
