{% extends 'base.html' %}
{% load static %}

{% block home %}
<li><a class="active" href="{% url 'home' %}">Home</a></li>
{% endblock %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'social.css' %}">

     <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    {% if user.is_authenticated %}
                    <h3><b>  </b></h3>
                    {% else %}
                    <h4><b> Please Login To Watch Cv Or Jobcircular </b></h4>
                    {% endif %}
                    <h1><b>Welcome to SWE alumni</b></h1>
                    {% if user.is_authenticated %}
                    <button type="button" onclick=" window.location.href= {% url 'cv_catagory' %}" class="btn btn-dark">CV or Resume</button>
                    <button type="button" onclick=" window.location.href= {% url 'job_list' %}" class="btn btn-dark">Job Circular</button>
                    {% endif %}
                </div>
                <img class="im1" src=" {% static 'homepage_photo/transport.png' %}" alt="Flower" width="100" height="10">
            </div>
            <div class="carousel-item">
               <div class="carousel-caption">
                   {% if user.is_authenticated %}
                    <h3><b>  </b></h3>
                    {% else %}
                    <h4><b> Please Login To Watch Cv Or Jobcircular </b></h4>
                    {% endif %}
                    <h1><b>Welcome to SWE alumni</b></h1>
                   {% if user.is_authenticated %}
                   <button type="button" onclick=" window.location.href= {% url 'cv_catagory' %}" class="btn btn-dark">CV or Resume</button>
                    <button type="button" onclick=" window.location.href= {% url 'job_list' %}" class="btn btn-dark">Job Circular</button>
                   {% endif %}
                </div>
                <img src="{% static 'homepage_photo/diu.jpg' %}" alt="Flower1" width="10000" height="10000">
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                  {% if user.is_authenticated %}
                    <h3><b>  </b></h3>
                    {% else %}
                    <h4><b> Please Login To Watch Cv Or Jobcircular </b></h4>
                    {% endif %}
                    <h1><b>Welcome to SWE alumni</b></h1>
                  {% if user.is_authenticated %}
                   <button type="button" onclick=" window.location.href= {% url 'cv_catagory' %}" class="btn btn-dark">CV or Resume</button>
                    <button type="button" onclick=" window.location.href= {% url 'job_list' %}" class="btn btn-dark">Job Circular</button>
                  {% endif %}
                </div>
                <img src="{% static 'homepage_photo/all.jpg' %}" alt="Flower2" width="10000" height="10000">
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                  {% if user.is_authenticated %}
                    <h3><b>  </b></h3>
                    {% else %}
                    <h4><b> Please Login To Watch Cv Or Jobcircular </b></h4>
                    {% endif %}
                    <h1><b>Welcome to SWE alumni</b></h1>
                    {% if user.is_authenticated %}
                   <button type="button" onclick=" window.location.href= {% url 'cv_catagory' %}" class="btn btn-dark">CV or Resume</button>
                    <button type="button" onclick=" window.location.href= {% url 'job_list' %}" class="btn btn-dark">Job Circular</button>
                    {% endif %}
                </div>
                <img src="{% static 'homepage_photo/all-permanent.jpg' %}" alt="Flower3" width="10" height="10">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
<br>

<!-- bottom home -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
<br>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
          <p><b>Demand of jobs 2019</b></p>
        <p>
          <span class="label label-success">Cybersecurity engineer</span>
          <span class="label label-success">AI/machine learning engineer</span>
          <span class="label label-success">Full stack developer</span>
          <span class="label label-success">Data scientist</span>
          <span class="label label-success">Python developer</span>
          <span class="label label-success"> Java developer</span>
            <span class="label label-success"> JavaScripts developer</span>
            <span class="label label-success"> Cloud engineer</span>
            <span class="label label-success"> Scrum master </span>
            <span class="label label-success">  DevOps engineer</span>
        </p>
      </div>

        <div class="well">
          <p><b>Demandable Programming Language For Job & Future</b></p>
        <p>
          <span class="label label-default"> Python</span>
          <span class="label label-default"> Java</span>
          <span class="label label-default"> C/C++</span>
          <span class="label label-default"> JavaScript</span>
          <span class="label label-default"> Go programming language</span>
          <span class="label label-default"> R</span>
            <span class="label label-default"> Swift</span>
            <span class="label label-default"> PHP</span>
            <span class="label label-default">  C#</span>
            <span class="label label-default">  MATLAB</span>
        </p>
      </div>
    </div>
    <div class="col-sm-7">

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <p style="text-align:center" contenteditable="true"> Our Alumni Social Links </p>

                <span >
                    <a href="{{ fb.link }}" class="fa fa-facebook"></a>
                    <a href="{{ t.link }}" class="fa fa-twitter"></a>
                    <a href="{{ li.link }}" class="fa fa-linkedin"></a>
                    <a href="{{ yt.link }}" class="fa fa-youtube"></a>
                    <a href="{{ s.link }}" class="fa fa-skype"></a>
                    <a href="{{ gm.link }}" class="fa fa-google"></a>
                </span>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>BOOOOO</p>
           <img src="bird.jpg" class="img-circle" height="55" width="55" alt="">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Updating.....</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>BOOOO</p>
           <img src="bandmember.jpg" class="img-circle" height="55" width="55" alt="">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p> Updating.... </p>
          </div>
        </div>
      </div>



    </div>
    <div class="col-sm-2 well">
      <div class="thumbnail">
        <p>Upcoming Events:</p>
        <p><strong>Updating</strong></p>
        <p> </p>
        <button class="btn btn-primary"></button>
      </div>
      <div class="well">
        <p>................</p>

      </div>
      <div class="well">
        <p>....................</p>
      </div>
        <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong> Hey! </strong></p>
       Upload your CV for batter opportunitie
      </div>
   <button onclick=" window.location.href= {% url 'add_cv' %}" type="button" class="btn btn-outline-success">Upload your CV</button>
    </div>
  </div>
</div>
<br><br><br>
<!--  END BOTTOM HOME -->
    <!-- js for slide show -->
    <script src="{% static 'bootstrap.js' %}"></script>
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>



{% endblock %}

