{% extends 'base.html' %}

{% block profile %}
<li><a class="active" href="{% url 'show_profile' pk=user.pk %}">Profile</a></li>
{% endblock %}

{% block title %}
profile of {{ p_name }}
{% endblock %}


{% block content %}
{% load static %}

{% for profile in profile %}

<link rel="stylesheet" type="text/css" href="{% static 'show_profile.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img style="height:200px; width:200px" src="{{profile.image.url }}" alt=""/>
                            <!--<div class="file btn btn-lg btn-primary">

                                Change Photo
                                <input type="file" name="file"/>
                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{ profile.full_name }}
                                    </h5>
                                    <h6>
                                        {{ profile.working }}
                                    </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-md-2">
                        {% if profile.user == user %}
                        <a href="{% url 'profile' %}" ><input type="button" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/></a>
                        <hr>
                        <a href="{% url 'edit_cv_job' %}"> <input type="button" class="profile-edit-btn" name="btnAddMore" value="Edit CV JOB"/></a>
                        {% endif %}
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>WORK LINK</p>
                            <a href="{{ profile.facebook }}">Facebook Link</a><br/>
                            <a href="{{ profile.github }}">Github Link</a><br/>
                            <a href="{{ profile.linkedin }}">Linkedin</a>
                            <p>SKILLS</p>
                            <b> {{ profile.skill }}</b>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Username</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ profile.user }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ profile.full_name }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ profile.email }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Versity ID</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ profile.versity_id_number }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Batch</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ profile.batch }}</p>
                                            </div>
                                        </div>
                                <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ profile.mobile_number }}  </p>
                                            </div>
                                        </div>
                                <div class="row">
                                            <div class="col-md-6">
                                                <label>Gender</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ profile.gender }}</p>
                                            </div>
                                        </div>
                                <div class="row">
                                            <div class="col-md-6">
                                                <label>Age</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ profile.age }}</p>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
</div>


<br><br><br>
{% endfor %}

{% endblock %}
